body {
    background: #e1e8ba;
    margin:0
}


.movie_search_div {
    //box-sizing:border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.movie_search {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 1em;
    font-size: 20px;
}
.search_results ul {
    list-style: none;
    margin: 0;
    padding: 0;
    //background: #889799, 
}

.search_results_image {
    padding: 0.2em;
}
.search_results_div {
    background-color: #889799; 
    border-bottom: 1px solid black;
    padding: 0.2em;
    display: block;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}
.search_results_div ul {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.2em;
    //width: 100%;
    //box-sizing: border-box;

} 
.search_results_div:hover {
    background-color: #b5b8a3;
}

.nav_bar {
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #a89a65;
                  
    }
    li {
        float: left;
        display: inline;
    }
    li a:hover {
        background-color: #b5b8a3;
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
                  
    }
}



